<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Weather Journal Application Page</title>
    <!-- Meta Tags for HTML page. -->
    <meta name="description" content="Weather Journal (Outdoor Journal)" />
    <meta name="keywords" content="Weather Api, Dynamic features" />
    <meta name="author" content="Ahmed Ibrahim" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src *;
   img-src * 'self' data: https:; script-src 'self' 'unsafe-inline' 'unsafe-eval' *;
   style-src  'self' 'unsafe-inline' *"
    />
    <!-- Load Google Apis -->
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"
    />
    <!-- Load CSS Rules for Styling -->
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <!-- Element to style container of page -->
    <div id="app">
      <div class="holder-headline">Outdoor Journal</div>
      <!-- Container that contains elements for zip input -->
      <div class="holder-zip">
        <label for="zip">Please enter zip code below (US Only).</label>
        <input
          class="zip-text"
          type="text"
          id="zip"
          placeholder="Enter zip code here"
        />
      </div>
      <!-- Container that contains elements for feelings input -->
      <div class="holder-feel">
        <label for="feelings">What are the vibes today?</label>
        <textarea
          class="myInput"
          id="feelings"
          placeholder="Enter your feelings here"
          rows="9"
          cols="52"
        ></textarea>
        <button id="generate" type="submit">Generate</button>
      </div>
      <!-- Section to host output from 'app.js'-->
      <div class="title">Latest Weather Data Summary Below</div>
      <div id="entry-holder">
        <div id="date"></div>
        <div id="temp"></div>
        <img id="icon" />
        <div id="humidity"></div>
        <div id="zipCode"></div>
        <div id="description"></div>
        <div id="content"></div>
      </div>
    </div>
    <script
      language="JavaScript"
      src="../js/app.js"
      type="text/javascript"
    ></script>
  </body>
</html>
